<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div class="container">
  <div class="row">
    <div class="mb-5"><img src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/255/attachments/original/1548872579/economic-development-banner.png?1548872579" class="img-fluid"/></div>
    <p class="h1">Shortly after Amazon announced its intention to locate 25,000 jobs over 15 years in the Crystal City and Pentagon City neighborhoods of Arlington County, a group of protesters attended the Board’s monthly Public Comment period to raise objections. One young woman carried a sign that read, <b>“Tax Amazon, Fund Communities.”</b></p>
    <br/>
    <br/>
    <p class="h1 my-5 text-primary text-center">I agree <u>completely.</u></p>
    <p>Above all, these Amazon jobs are an opportunity to restore our tax base by replacing some of the 34,000 federal jobs lost in the County over the past decade because of federal cuts and relocations. With every one percent of lost office building occupancy in Arlington - and for years, that vacancy has been as high as one in five buildings vacant - we lose $3.4 million in tax revenue. That&rsquo;s millions in lost money for public schools, for health care services for our low-income neighbors, for parks and affordable housing, and it&rsquo;s why Arlington has found ourselves in a tough budget crunch for multiple years now.</p>
<p>I&rsquo;m a Democrat because I believe that the wealth of corporations should enrich society as a whole, and fund opportunities for others. We now have an unprecedented opportunity to do exactly that with Amazon&rsquo;s <strong><a href="https://www.governor.virginia.gov/media/governorvirginiagov/governor-of-virginia/images/The-Economic-and-Fiscal-Impacts-of-Locating-Amazon-HQ2-in-Arlington-County.pdf">contributions of hundreds of millions of tax dollars over the decade to come</a></strong>. And here in Arlington County, we have an long track record of taking tax dollars and turning them into educational opportunity for young learners from all over the world; turning them into services that will keep seniors living - and giving back - longer; turning them into aggressive programs and public buildings that fight climate change; turning them into a safety net that catches our neighbors who fall through the cracks in housing or mental health care, and guides them back to their feet.</p>
<p>To me, Amazon arriving without paying taxes and funding community wouldn&rsquo;t be much worthwhile at all. That&rsquo;s why my colleagues and I - who influenced the year-long discussions with the company not through personal negotiations with Amazon but through strong direction about our principles to our Economic Development staff as they discussed a package with Amazon and the Commonwealth - have been clear: No carving out the very tax base we would aim to restore by attracting the company here.</p>
<p>The resulting agreement reflects exactly that. The only direct incentive from Arlington to Amazon is a grant of 15% of the additional hotel taxes that the company helps bring in over the next decade and a half (taxes paid by visitors to Arlington, not residents), up to about a <strong><a href="https://hqnova.com/info.html#local-proposals">million and a half dollars a year</a></strong>. Everything else in the package?<strong> <a href="https://hqnova.com/downloads.html">Investments back in our own future</a></strong>, and in the very areas that I hear most often are concerns for our community when it comes to Amazon&rsquo;s arrival: Affordable housing, transportation, and improvements, like parks and green space, in the Crystal City neighborhood.</p>
<p>In November, I wrote fellow Arlingtonians that Amazon&rsquo;s planned headquarters can be &ldquo;<strong><a href="https://countyboard.arlingtonva.us/board-actions/letters/letter-about-amazon/">compatible and complementary to our community&rsquo;s long-term vision</a></strong>.&rdquo; I know many residents are worried about whether that&rsquo;s true, and what impacts the company&rsquo;s arrival might have on costs of living, housing and schools, especially. So, here are a few points to put those 25,000 jobs in context:</p>
<ul>
<li><strong>Up to 0.3% annual growth in APS student enrollment. </strong>Based on demographic analyses completed by Arlington County and APS staff, as well as economists at George Mason, <strong><a href="https://arlingtonva.s3.amazonaws.com/wp-content/uploads/2018/12/Amazon-Project-and-Schools.pdf">we anticipate an average of 73-98 students in APS a year will be associated with an Amazon worker household by 2030</a></strong>. By 2027, APS projects 32,700 students in the overall system.</li>
</ul>
<ul>
<li><strong>5% of regional annual average job growth and housing demand</strong>. Our Washington, D.C. region added about 45,000 jobs a year for the past decade, driving up demand for housing in the District, Maryland and Northern Virginia. Amazon&rsquo;s planned average annual job growth over the next decade represents about 5% of that total each year. This is an impact, for certain, but it won&rsquo;t single-handedly drive changes to our housing markets.</li>
</ul>
<ul>
<li><strong>55,000 available weekday rides on Metrorail, Metrobus and ART</strong> in Crystal City and Pentagon City. Boardings at the two Metro station entrances are down by nearly a third over the last decade - another symptom of those high office vacancy rates. Well before any of the planned improvements associated with Amazon&rsquo;s arrival (like a new Metro station entrance for Crystal City; expansion of the Metroway, and a new platform expansion of the Virginia Railway Express station) our transit system is ready <em>now </em>for thousands more riders, and for Amazon employees to leave their cars at home.</li>
</ul>
<p>The bottom line is that office occupancy in Arlington doesn&rsquo;t alone drive school enrollment and it doesn&rsquo;t drive rent increases. If it did, we would have see student population growth and average rents slowing or even decreasing during a decline of office occupancy in the County since 2008; instead, those two trends have <strong><a href="https://arlingtonva.s3.amazonaws.com/wp-content/uploads/2018/12/Amazon-Project-and-Schools.pdf"> increased by 38%</a></strong> and <strong><a href="https://arlingtonva.s3.amazonaws.com/wp-content/uploads/sites/15/2018/11/FY2018-INDICATORS.pdf">by more than 23%</a></strong>, respectively during that time. What office occupancy <em>does </em>do in Arlington? It helps us pay for the growth in our student population, and help us fund the committed affordable units and other affordable housing programs that can prevent displacement of our valued neighbors.</p>
<p><br />In other words: Tax Amazon, fund our community. I know that every Arlingtonian may not agree on Amazon&rsquo;s decision to locate here, but that&rsquo;s the principle that guides me to see this as an opportunity and not an impediment for our shared, progressive future.</p>
  </div>
</div>

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}



  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
