<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div class="container my-5">
  <div class="row text-center">
    <div class="card col-md-6">
      <div class="card-body">
        <h4 class="card-title">Follow @kcristol</h4>
      </div>
    </div>
    <div class="card col-md-6">
      <div class="card-body">
        <h4 class="card-title">Like on Facebook</h4>
      </div>
    </div>
  </div>
</div>

<div id="content">

  <div id="intro" class="intro">
<div class="row"><div class="text-content col-md-6">
      {{ page.basic.content }}

    </div>
    <div class="col-md-6"><img src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/254/attachments/original/1547132465/Photo_Sep_05__10_36_34_AM.jpg?1547132465"/></div></div>
  </div>


  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
