<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div class="container">
  <div class="row">
    <div class="mb-5"><img src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/260/attachments/original/1548873246/inclusion-banner.png?1548873246" class="img-fluid"/></div>
    <p class="h3">For decades, Arlington County&rsquo;s story has been a story of the fight for inclusion: Defiance of Massive Resistance, as the first Virginia locality to integrate our schools; waves of immigrants and refugees shaping the County&rsquo;s culture and economy. In our current national political moment, Arlingtonians have risen to affirm that history, and those values, again and again.</p>
<p>On the County Board, I&rsquo;ve fought to ensure that wherever possible, our County will be a beacon of support and fairness for our immigrant, refugee and mixed-status families, amid the darkness of exclusionary federal policies under the Trump administration. As Vice Chair of the Board in 2016, I led efforts to <a href="https://newsroom.arlingtonva.us/release/arlington-funds-legal-aid-for-immigrants/"><strong>make Arlington the first jurisdiction in Virginia to fund legal services for immigrant families</strong></a>, to review our <a href="https://topics.arlingtonva.us/resources-immigrants/"><strong>public safety and human services policies</strong></a> regarding interactions with federal enforcement agencies, and to improve communication and outreach with our concerned communities.</p>
<p>Now, as Arlington grows and changes, we face threats to the very diversity that inspired so many of us to make this community home. Affordability is the most critical: What this community looks like, and who calls it home, is in large part a function of the cost of its housing. But we need a broader agenda to ensure that the work of government and community is truly furthering our values of inclusion and equity.</p>
<p>My priorities include:</p>
<ul>
<li>Building on Arlington&rsquo;s recent public health plan, <em>Destination 2027</em>, gather additional information on disparities in health and economic access throughout the County.</li>
<li>Developing equity-based frameworks to evaluate whether our decisions (both policy and programmatic) are advancing or stymying equity goals.</li>
<li><a href="http://www.liunamidatlantic.org/news/story/local-leaders-advocate-for-striking-didlake-workers"><strong>Continuing to stand with</strong></a><a href="https://www.arlnow.com/2016/07/19/county-board-members-join-strike-at-arlington-national-cemetery/"> <strong>working people in Arlington County</strong></a> and advocate forcefully for, and prepare to effectively implement at the local level, potential state economic fairness reforms, like living wage ordinances, procurement reform and project labor agreements.</li>
</ul>

  </div>
</div>

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}


  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
