<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>



{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div class="container">
  <h1 class="display-3"> Issues</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356102/economics.png?1548356102" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Economic Development and Arlington’s Future</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/economic-development" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356103/housing.png?1548356103" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Housing</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/housing" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356104/transit.png?1548356104" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Transit</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/transit" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356103/schools.png?1548356103" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Schools and Public Facilities</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/schools" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356104/women.png?1548356104" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Women and Families</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/women" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card my-3">
        <img class="card-img-top" src="https://d3n8a8pro7vhmx.cloudfront.net/katiecristol/pages/26/attachments/original/1548356103/inclusion.png?1548356103" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Inclusion, Economic Justice and Racial Equity</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://www.katiecristol.com/inclusion" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}



  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
